<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>fakebook</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/logo/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<div id="login-app">
    <!---------------------------------상단 네비바------------------------------------->
    <header id="header" class="header navbar">
        <div class="header-container max-width-lg mx-auto">
            <span class="header-title">fakebook</span>
            <form class="login-form" id="login-form"  action="/login" method="post" >
                <table class="login-table">
                    <th>아이디</th>
                    <th>비밀번호</th>
                    <tr>
                        <td><input type="text" name="userId" v-model="userId"></td>
                        <td><input type="password" autocomplete="off" name="password" v-model="password"></td>
                        <td><input type="submit" value="로그인"></td>
                    </tr>
                </table>
            </form>
        </div>
    </header>
    <!--------------------------회원 가입 ------------------------------->
    <div class="join-container">
        <span style="font-size: 30px;font-weight: bold">새 계정 만들기</span>
        <form class="join-form" id="join-form" @submit.prevent="validateInput" @submit="register" method="post">
            <input class="join-input" type="text" placeholder="이름" name="name" v-model="name">
            <input class="join-input" type="text" placeholder="휴대폰 번호 또는 이메일" name="userId" v-model="userId">
            <input class="join-input" type="password" autocomplete="off" placeholder="비밀번호" name="password" v-model="password">
            <br><span>너무 단순한 비밀번호는 로그인 시 경고 메세지가 출력될 수 있어요 ..🥲</span>

            <div class="div-birthday" id="div-birthday">
                <span style="margin-top: 30px">생일</span>
                <span class="join-span-birthday">
                    <select class="birthday-select" id="birthday-year" aria-label="연도"
                            name="birthdayYear" v-model="birthdayYear">
                        <option>연도</option>
                        <option v-for="year in years" v-bind:value="year">{{year}}</option>
                    </select>
                    <select class="birthday-select" id="birthday-month" aria-label="월"
                            name="birthdayMonth" v-model="birthdayMonth">
                        <option value="월">월</option>
                        <option v-for="month in months" v-bind:value="month">{{month}}</option>
                    </select>
                    <select class="birthday-select" id="birthday-day" aria-label="일"
                            name="birthdayDay" v-model="birthdayDay">
                        <option value="일">일</option>
                        <option v-for="day in days" v-bind:value="day">{{day}}</option>
                    </select>
                </span>
            </div>

            <div class="div-gender">
                <span style="margin-top: 30px">성별</span>
                <span class="join-span-gender" data-type="radio">
                    <span>
                        <input type="radio" class="radio-gender" name="gender" value="MALE" v-model="gender">
                        <label class="label-gender">남성</label>
                    </span>
                    <span>
                        <input type="radio" class="radio-gender" name="gender" value="FEMALE" v-model="gender">
                        <label class="label-gender">여성</label>
                    </span>
                </span>
            </div>
            <p v-if="errors.length">
            <ul>
                <li v-for="error in errors">{{error}}</li>
            </ul>
            </p>
            <div class="div-join-button">
                <input type="submit" class="submit-join" value="가입하기">
            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>
